<header>
  <a href="/"><img class="logo" src="./assets/logo.png" alt="logo Vervoerregio Amsterdam"></a>
  <div class="navigation">
    <ul>
      <li><a href="/">Toolboard</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </div>
</header>
