<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

<main>
  <h1>Contact</h1>
</main>

<script src="./scripts/script.js"></script>
<script src="./scripts/menu.js"></script>
<%- include('./partials/foot.ejs') %>